<table class="table">
  <thead>
    <tr>
      <td>
        <input
          class="form-control m-2"
          id="myInput"
          type="text"
          placeholder="Search.."
        />
      </td>
      <td></td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Ajouter une nouvelle clé
        </button>
      </td>
      <td></td>

    </tr>
    <tr>
      <th scope="col">Key</th>
      <th scope="col">
        <select (change)="selectLanguage($event.target )" class="form-select" aria-label="Default select example">
          <option selected>Select first language</option>
          <option *ngFor="let language of languages" value="{{ language.id }}">{{ language.name }}</option>
        </select>
      </th>
      <th scope="col">
        <select class="form-select" aria-label="Default select example">
          <option selected>Select second language</option>
          <option *ngFor="let language of languages" value="language.id">{{ language.name }}</option>
        </select>
      </th>
    </tr>
  </thead>
  <tbody id="myTable">
    <tr *ngFor="let key of keys">
      <td>{{ key.key }}</td>
      <td>
        <div class="input-group mb-3">
          <textarea class="form-control" aria-label="With textarea"></textarea>
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">Save</span>
          </div>
        </div>
      </td>
      <td>
        <div class="input-group mb-3">
          <textarea class="form-control" aria-label="With textarea"></textarea>
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">Save</span>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="keyForm">

          <div class="modal-body">
            <input
              class="form-control m-2"
              id="myInput"
              type="text"
              formControlName="key"
              placeholder="New application name"
            />
          </div>
          <div class="modal-body">
            <input
            readonly
              class="form-control m-2"
              id="myInput"
              type="text"
              formControlName="software_id"
              placeholder="New application name"
            />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button (click)="addKey()" type="button" data-bs-dismiss="modal" class="btn btn-primary">Save changes</button>
          </div>
          </form>
      </div>
    </div>
  </div>
</div>
