<div class="container">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-12">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Update Your config</h1>
            </div>
            <form *ngIf="form" class="user" [formGroup]="form">
              <div class="form-group row">
                <div class="col-sm-8 mb-3 mb-sm-0">
                  <input formControlName="slogan" type="text" class="form-control form-control-user" id="exampleFirstName"
                    placeholder="slogan">
                </div>
              </div>

              <div class="form-group row align-items-center">
                <!-- Input file -->
                <div class="col-sm-8">
                  <input type="file" (change)="onFileSelected($event)" class="form-control form-control-user">
                </div>

                <!-- Aperçu de l'image -->
                <div class="col-sm-4 text-center" *ngIf="logoPreview">
                  <img [src]="logoPreview" alt="Aperçu de l'image" class="img-thumbnail">
                </div>
              </div>



              <a (click)="update()" class="btn btn-primary btn-user btn-block">
                Update
              </a>

              <ng-container *ngIf="loading">
                <div class="d-flex justify-content-center">
                  <p-progressSpinner ariaLabel="loading" />
                </div>
              </ng-container>
              <ng-container *ngIf="isConnected">
                <div class="d-flex justify-content-center alert alert-danger" role="alert">
                  Erreur dans la modification
                </div>
              </ng-container>



              <!-- <hr>
                          <a href="index.html" class="btn btn-google btn-user btn-block">
                              <i class="fab fa-google fa-fw"></i> Register with Google
                          </a>
                          <a href="index.html" class="btn btn-facebook btn-user btn-block">
                              <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                          </a> -->
            </form>
            <hr>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
