/* Ajustement de l'espacement des sous-menus */
.collapse-menu {
  padding-left: 10px;
}

/* Styles des sous-menus */
.navbar-nav .nav-item .nav-link {
  padding: 8px 15px;
  font-size: 14px;
}

/* Réduction de l'indentation des sous-menus */
.ml-3 {
  margin-left: 12px !important;
}
.ml-4 {
  margin-left: 18px !important;
}

/* Animation fluide pour les sous-menus */
.collapse {
  transition: height 0.3s ease-out;
}

/* Icône de flèche pour afficher les sous-menus */
.nav-link i.fas.fa-chevron-down {
  font-size: 12px;
  margin-left: auto;
  transition: transform 0.3s;
}

/* Rotation de la flèche quand le menu est ouvert */
.nav-link.collapsed i.fas.fa-chevron-down {
  transform: rotate(-90deg);
}
