<table class="table">
  <thead>
    <tr>
      <td>
        <input
          class="form-control m-2"
          id="myInput"
          type="text"
          placeholder="Search.."
        />
      </td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Ajouter une nouvelle aplication
        </button>
      </td>
    </tr>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody id="myTable">
    <tr *ngFor="let software of softwares">
      <td>{{ software.name }}</td>
      <td>
        <a class="btn btn-sm btn-primary m-2" routerLink="/admin/softwares/{{ software.id }}">Voir</a>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [formGroup]="softwareForm">

      <div class="modal-body">
        <input
          class="form-control m-2"
          id="myInput"
          type="text"
          formControlName="name"
          placeholder="New application name"
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button (click)="addSoftware()" type="button" data-bs-dismiss="modal" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>
