<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img [src]="'./monlogo.png'" alt="MonLogo" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" routerLink="/custum/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">À propos</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/custum/service" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Services</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/custum/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact</a></li>
                @if (user) {
                  <li class="nav-item dropdown ml-5">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class=" d-lg-inline text-gray-600 ">{{ user.firstname }} {{ user.lastname }}</span>
                        <img class="img-profile rounded-circle ml-2" [src]=" (user.profile_picture)?user.profile_picture: 'profile.png'" height="30">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Mon espace</a></li>
                        <li><a class="dropdown-item" routerLink="/admin/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Profil</a></li>
                        <li><a class="dropdown-item" routerLink="/admin/setting" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Paramètres</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" (click)="logout()">Déconnexion</a></li>
                    </ul>
                </li>
                }@else {
                  <li class="nav-item ml-5"><a class="nav-link" routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <span class="d-none d-lg-inline text-gray-600 ">Mon compte</span>
                    <img class="img-profile rounded-circle ml-2" src="profile.png" height="30">
                </a></li>
                }

            </ul>
        </div>
    </div>
  </nav>

  <div >
    <router-outlet></router-outlet>

  </div>
   <!-- Contact Section -->
   <section id="contact" class="content-section text-center">
    <div class="container">
        <h2>Contactez-nous</h2>
        <p>Envoyez-nous un message pour en savoir plus.</p>
        <a routerLink="/custum/contact" fragment="contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="btn btn-dark">Nous Contacter</a>
    </div>
</section>

<!-- Footer -->
<footer class="footer">
    <p>&copy; 2025 - Tous droits réservés.</p>
</footer>

</body>

