<div class="container px-4 px-lg-5">
  <!-- Heading Row-->
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
      <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="assets/translator.jpg" alt="..." /></div>
      <div class="col-lg-5">
          <h1 class="font-weight-light">Translator</h1>
          <p>Vous avez du mal à gérer la traduction de vos textes. Vous êtres au bon endroit</p>
          <a class="btn btn-primary" routerLink="/Home">Retourner à l'accueil</a>
      </div>
  </div>
  <!-- Call to Action-->
  <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body"><p class="text-white m-0">Economisez du temps dans vos développement en nous confiant la gestion de vos traductions</p></div>
  </div>
  <!-- Content Row-->
  <div class="row gx-12 gx-lg-12">
      <div class="col-md-4 mb-5">
          <div class="card h-100">
              <div class="card-body">
                  <h2 class="card-title">traductions</h2>
                  <p class="card-text"></p>
              </div>
              <div class="card-footer"><a class="btn btn-primary btn-sm" routerLink="home">Accueil</a></div>
          </div>
      </div>

  </div>
</div>
